# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# Environments
.env
.venv/
log_env/

# OS
.DS_Store
Thumbs.db

# Excel
*.xlsx
*.xls

# Kafka
*.kafka

# Misc
*.bak
*.swp
*.tmp
